<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>
    Jasmin's Birthday Portal
  </title>
  <style>
    body {
      height: 100vh; /* full viewport height */
      margin: 0;
      display: flex;
      justify-content: center; /* horizontal centering */
      align-items: center;     /* vertical centering */
      flex-direction: column;  /* stack elements top to bottom */
      text-align: center;
      font-family: Arial, sans-serif;
    }
  </style>
</head>
<h1>
  JASMINS BIRTHDAY PORTAL
</h1>
<form action ="/" method="post">
  <label> Name </label><br>
  <input type = "text" name = "name" required> <br><br>
  <label> Password </label><br>
  <input type ="password" name ="password" required><br><br>
  <button type = "submit"> LOGIN </button>
</form>
</head>
<body>

</body>
</html>